<div class='form-new'>
  <%= form_with(model: operation) do |form| %>
    <% if operation.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

        <ul>
          <% operation.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <label>
        <%= form.check_box :entry %>
        <span> <%= form.label :entry %></span>
      </label>
    </div>

    <div>
      <%= form.label :payment_method %>
      <%= form.select :payment_method, options_for_select([["Cartão", "Cartão"], ["Pix", "Pix"], ["Dinheiro", "Dinheiro"]]) %>
    </div>

    <div class="input-field col s6">
      <%= form.label :value %>
      <%= form.text_field :value, pattern: '[a-Z]' %>
    </div>

    <div class='actions'>
      <%= form.submit I18n.t('operations.new'), class: 'btn btn-success' %>
      <%= link_to I18n.t('operations.back'), operations_path, class: 'btn btn-danger' %>
    </div>
  <% end %>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>